body{
    background-color:black ;
    color: white;
    font-family: monospace;
    font-size: 24px;
}
h1{
    color: orange;
    font-family: monospace;
}

p{
    font-family: monospace;
    font-size: 25px;
}
#header{
    width: 100%;
    height: 100%vh;
}

.img{
    size: 250px;
}

.container{
    background-color: grey;
    padding: 10px 10%;
}
/*Slide show container*/
.slideshowCotainer{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

*{box-sizing:border-box}

/*Hide image default*/
.mySlides{
    display: none;
}

/*controller buttons*/
.prev, .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*position the next button on the right*/
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}



nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-family: monospace;
    display: inline-flex;
    justify-content: center;
}